<p id="notice"><%= notice %></p>

<%= @agent.name %>
<br>

<p>Total Price of all Destinations: $<%= @total %></p>

<p>See More Details about:</p>
<% @agent.destinations.each do |destination| %>
  <li><%= link_to destination.location, agent_destination_path(destination.agent, destination) %></li>
<% end %>

<br></br>

<% if current_user %>
  <%= link_to "New Destination", new_destination_path %>
<% end %>

<%= link_to 'Back', agents_path %>
