<%= form_for @destination do |f| %>

  <p>
    <%= f.label :location%>
    <%= f.text_field :location%>
  </p>

  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.label :trip_length_in_days %>
    <%= f.text_field :trip_length %>
  </p>

  <p>
    <%= f.label :weather_conditions %>
    <%= f.text_field :weather %>
  </p>

  <p>
    <%= f.label :travel_agent %>
    <%= f.text_field :agent_id %>
  </p>

  <%= f.submit %>
<% end %>
