<h1>Welcome To The Travel App</h1>


<% @destinations.each do |destination| %>
  <li><%= link_to "#{destination.location}", destination %>
    <% if current_user %>
      <%= link_to 'Edit', edit_destination_path(destination) %>
      <%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
<% end %>

<br></br>

<h3>Most expensive trip: </h3><%= most_expensive %>

<br></br>

<h3>Least expensive trip: </h3><%= least_expensive %>

<br></br>

<%= link_to "See all Travel Agents", agents_path %>

<br></br>

<% if current_user %>
  <%= link_to "New Destination", new_destination_path %>
<% end %>
